@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:#495057;
}
:root{
  --header-main:5rem;
}
html{
  font-size: 62.5%;
}
body{
  height: 100vh;
}
.main{
  display:grid;
  grid-template-columns: 8rem 1fr 1fr 1fr;
  height:calc(100vh - var(--header-main));
}
.main-header{
  height: var(--header-main);
  background-color: #ffe8cc;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:0 1rem;
}

.aside-bar{
  background-color:green;
}

.logo-text{
  font-size:3rem;
  font-family: "Playfair Display",serif;
}
.search-block{
  display: flex;
  align-items: center;
}
.search{
  width:30rem;
  padding:0.3rem 0.2rem;
  border:1px solid #495057;
}
.icon{
  width:2.5rem;
  height: 2.3rem;
  cursor:pointer;
}
.search-icon{
  border:1px solid #495057;
}
.cart-icon{
  height:2.5rem;
  width:2.5rem;
}
.profile-block{
  display: flex;
  align-items: center;
  gap:1rem;
}
.user-name{
  font-size:2rem;
}
.user-img{
  width:4rem;
  border-radius:50%;
}